#image{
    font-size: 1000px;
    /* display: flex; */
    display: block;
    margin: 0 auto;
    /* margin-top: 50px; */
    /* border: 10px solid brown; */
    /* padding: 30px; */
    /* background-color: aqua; */

}