body {
    background-color: darkturquoise;
}

#image {
    width: 70%;
    /* display: flex; */
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid chocolate;
    /* padding: 30px; */
    /* background-color: aqua; */

}